<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tags</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Manager pathname="" />
    
    <!-- Database connection pool -->
    <Resource name="jdbc/railway" 
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="100"
              maxIdle="30"
              maxWaitMillis="10000"
              username="root"
              password="Root@1234"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/railway_crossing?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC"
              testOnBorrow="true"
              validationQuery="SELECT 1"/>
    
    <!-- Enable JSP compilation -->
    <JarScanner>
        <JarScanFilter defaultPluggabilityScan="true" defaultTldScan="true" tldSkip="*.jar" />
    </JarScanner>
</Context>
